<header class="navbar">
    <div class="navbar-left">
        <a href="/" class="navbar-brand">
            <span class="brand-icon">⟡</span>
            <span class="brand-name">JobTracker</span>
        </a>
        <nav class="navbar-links">
            <NavLink href="" Match="NavLinkMatch.All">Dashboard</NavLink>
            <NavLink href="jobs">My Jobs</NavLink>
        </nav>
    </div>
    <div class="navbar-right">
        <span class="user-email">user@email.com</span>
        <button class="btn-signout">Sign out</button>
    </div>
</header>